<% if current_user == @seller %>
  <h3>Welcome <%= current_user.name %></h3>
<% else %>
  <h3><%= @seller.name %>'s Items</h3>
<% end %>

<div id="auction-container">
<table>
  <thead>
    <tr>
      <th colspan="3">Auctions</th>
    </tr>
  </thead>
  <tbody>
    <%= erb :'/items/_index' %>
    <% if current_user == @seller %>
      <tr>
        <td colspan="3"><a href="/items/new">+ Add Auction</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<% if current_user == @seller %>

  <div id="bid-container">
    <table>
      <thead>
        <tr>
          <th colspan="3">Bid On Items</th>
        </tr>
      </thead>
      <tbody>
        <%= erb :'/bids/_index', locals: { bids: @seller.bids } %>
      </tbody>
    </table>
  </div>

  <div id="won-container">
    <table>
      <thead>
        <tr>
          <th colspan="3">Won Items</th>
        </tr>
      </thead>
      <tbody>
        <%= erb :'/bids/_index', locals: { bids: current_user.winning_bids } %>
      </tbody>
    </table>
  </div>

<% end %>