<% if !@items.nil? %>
	<% @items.each do |item| %>
    	<tr>
    		<% if current_user == item.seller %>
	    		<td><a href="/items/<%= item.id %>"><%= item.name_title %></a></td>
	    		<td><%= erb :'/items/_item_edit_button', locals: {item: item } %></td>
	    		<td><%= erb :'/items/_item_delete_button', locals: {item: item } %></td>
	    	<% else %>
	    		<td colspan="3"><a href="/items/<%= item.id %>"><%= item.name_title %></a></td>
	    	<% end %>
    	</tr>
    <% end %>
<% end %>
