  <label class="name_title" for="item[name_title]">Name or Title:</label>
  <input class="name_title" placeholder="Item Name or Title" name="item[name_title]" type="text" value="<%= @item.name_title %>">

  <label class="condition" for="item[condition_id]">Condition:</label>
  <%= erb :'/conditions/show', locals: { conditions: @conditions } %>

  <label class="price" for="item[price]">Price $</label>
  <input class="price" placeholder="0.00" name="item[price]" type="text" value="<%= @item.price %>">

  <label class="start" for="item[auction_start]">Start Date</label>
  <input class="start" placeholder="YYYY-MM-DD HH:MM:SS" name="item[auction_start]" type="text" value="<%= @item.auction_start %>">

  <label class="end" for="item[auction_end]">End Date</label>
  <input class="end" placeholder="YYYY-MM-DD HH:MM:SS" name="item[auction_end]" type="text" value="<%= @item.auction_end %>">

  <label class="description" for="item[description]">Description</label>
  <textarea class="description" form_id="list-item" placeholder="Description" name="item[description]" type="text"><%= @item.description %></textarea>

  <input type="hidden" name="item[seller_id]" value="<%= current_user.id %>">
